#header h1{
    color: brown;
}
#header h2{
    background-color: brown;
    color: brown;
}

#card_subtitle{
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

#card_text p{
    margin: 0;
}

#cards{
    margin-top: 20px;
    border: none;
}
#card{
    border: none;
    width: 90%;
}


